/* ********************
     FLEX BOX MAGIC
******************** */

/* ---------------------CONTAINER */
.container{
     display: flex;
     flex-flow: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;

/* You MUST GIVE a height to use ''align-items" */
     height: 500px;
}

/* -------------------------------ITEMS */
.box{
     height: 60px;

     flex: 0 0 100px;
/* flex=flex-grow+flex-shrink+flex-basis */
/* flex-basis===min-width (nearly but even better) */

     order: 1;
/* By default it is 0 */
}

.box1{
     background-color: red;
}

.box2{
     background-color: green;
     order:
}

.box3{
     background-color: blue;
}
